@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Truxulenta", sans-serif;
}
body {
  background-image: url("6-things-to-do-list.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100vw; */
  height: 100vh;
  line-height: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  /* border-bottom: 2px solid whitesmoke; */
  box-shadow: 0 2px 2px -2px black;
}

.nav-element {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-top: 20px;
  transition: all 0.3s ease 0s;
}

.nav a:hover {
  color: darkblue;
  opacity: 0.7;
}

.homeless {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.home {
  width: 70%;
}

.bottom-text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 34% 0 10px 10px;
}

.contact-us {
  display: flex;
  font-size: 16px;
  background-color: #e0b0ff;
  align-items: center;
  padding: 6% 20px 20px 20px;
}
.contact-heading {
  /* padding: 12% 0 0 10px; */
  width: 30%;
  font-weight: 600;
  text-decoration: underline;
}
.contact-text {
  font-weight: 400;
  /* padding: 8% 0 10px 10px; */
  width: 70%;
  text-align: justify;
}

.one {
  width: 70%;
}
.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  height: 50px;
  color: white;
  border: 1px solid purple;
  border-radius: 4px;
}
.image img {
  cursor: pointer;
}
.image p {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  color: white;
}

.faq-text {
  box-shadow: 0 2px 2px -2px black;
  text-align: justify;
  padding: 10px 10px 10px 10px;
  background-color: cornsilk;
}

footer {
  height: 100px;
  background-color: #e0b0ff;
  color: black;
  padding-top: 40px;
}
.feedback {
  display: flex;
  align-items: center;
}
h2 {
  text-decoration: underline;
  padding-left: 20px;
  padding-right: 30px;
}
input {
  height: 50px;

  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
  width: 90%;
  margin-bottom: 10px;
}

button {
  background-color: cornsilk;
  border: 2px solid #e0b0ff;
  cursor: pointer;
  outline: none;
  padding: 8px;
}
button:hover {
  color: cornsilk;
  opacity: 0.6;
}
.social {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: purple;
  padding: 20px;
}

.social img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
}
